:root{
    background: #FFF;
}

img[src*="star"] {
    transform: scale(0.5);
}

.splide__arrow{
    display: none;
}

.splide__pagination__page{
    display: none;
}

.button{
    display: inline-flex;
    padding: 20px 24px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    background: #DF6951;
    margin-top: 15px;
    width: 170px;
}

.button:hover{
    background: #7f2816;
}

.button:click{
    background: #7f2816;
}


.learnMore{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

nav{
    position: absolute;
    z-index: 1;
    display: flex;
    top: 40px;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    left: 10%;
}

.logo{
    width: 74.843px;
    height: 40px;
    flex-shrink: 0;
    fill: #FFF;
}

.navigation{
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.navItem{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 20px; /* 125% */
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.navItem:hover{
    text-decoration: underline;
}

.navItem:click{
    text-decoration: underline;
}


.splide{
    position: relative;
}

.splide__slide img{
    width: 100%;
    flex-shrink: 0;
}

.heroText{
    top: 30%;
    left: 25%;
    width: 52%;
    position: absolute;
    z-index: 1;
}

.heroHeading{
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 76px; /* 95% */
    letter-spacing: -1.6px;
}

.heroDescription{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.promotion{
    padding: 200px;
    display: flex;
    flex-wrap: wrap;
}


.promotionTag{
    color: #DF6951;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.promotionTitle{
    width: 100%;
    color: #222;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 68px; /* 106.25% */
}



.promotionDescription{
    width: 100%;
    color: #222;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
}

.promotionImage{
    width: 420px;
    height: 420px;
    border-radius: 420px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.price{
    color: #222;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    text-transform: capitalize;
}

.review{
    color: #222;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    text-transform: capitalize;
}

.travelDestinationHeading{
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    color: #222;
    text-align: center;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 68px; /* 106.25% */
}

.travelDestinationCard{
    display: flex;
    width: 480px;
    height: 620px;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 4px 40px 0px rgba(126, 126, 126, 0.15);
}

.travelDestinationImage{
    height: 340px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 8px;
}

.travelDestinationTitle{
    color: #222;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
}

.travelDestinationDescription{
    align-self: stretch;
    color: #222;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
}

.stories{
    padding-top: 80px;
}

.storyContainer{
    display: flex;
    margin: auto;
    width: 740px;
    padding: 64px 40px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 4px 40px 0px rgba(126, 126, 126, 0.15);
}

.storyDescription{
    color: #222;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
}

.footerHeading{
    color: #222;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 120% */
}

.footerText{
    color: #222;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.footerText:hover{
    text-decoration: underline;
}

.footerText:click{
    text-decoration: underline;
}

#email{
    display: flex;
    width: 316px;
    padding: 16px;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    background: #FFF;
}

@media only screen and (max-width: 1280px) {
    .promotion{
        padding: 100px;
    }


    .heroHeading{
        width: 100%;
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 35px;
        font-style: normal;
        font-weight: 500;
        line-height: 38px; /* 95% */
        letter-spacing: -1px;
    }
    
    .heroDescription{
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; /* 125% */
        letter-spacing: 1.6px;
        text-transform: uppercase;
    }

    .promotionImage{
        margin-top: 35px;
    }
  }


@media only screen and (max-width: 640px) {
    .logo{
        display: none;
    }

    nav{
        left: 15px;
        top: 10px;
        justify-content: initial !important;
    }

    .navigation{
        flex-direction: column;
        padding: 5px;
        gap: 5px;
    }
    
    .promotion{
        padding: 15px;
    }

    .promotionImage{
        display: none;
    }

    .promotionTitle{
        width: 100%;
        color: #222;
        font-family: Poppins;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 34px; /* 106.25% */
    }

    .travelDestinationCard{
        width: 100%;
    }

    .travelDestinationImage{
        height: initial;
    }

    .travelDestinationCard{
        height: initial;
    }

    .heroHeading{
        display: none;
    }
    
    .heroDescription{
        display: none;
    }

    .travelDestinationHeading{
 
        margin: auto;
        padding-top: 20px;
        margin-bottom: 25px;
        color: #222;
        text-align: center;
        font-family: Poppins;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 34px; /* 106.25% */
    }

    .stories{
        padding-top: 10px;
    }

    .storyContainer{
        width: initial;
        padding: 32px;

    }

    #email{
        width: 240px;
    }

    
  }